body {
  background: url("images/169279-simple_background.jpg") no-repeat fixed center;
    margin: 0;
    padding: 0;
    
  }
  
  h1 {
    font-family: 'Red Rose', cursive;
    font-size: 45px;
  }

  header h2 {
    padding: 10px;
    margin: 0;
  }
  
  main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  
  div.card {
    position: relative;

    background-color: #eeeeee;
    margin:20px 20px 0px 0px;
    height: 250px;
    width: 530px;
    padding: 10px;
    overflow:auto;

  }
  div.search{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  p {
    font-size: 1.5em;
    color: black;
    font-family: Helvetica;
  }
 

a{

    background-color: black;
    border-radius: 10%;
    color: red;
    text-decoration: none;
    padding: 2px;
    margin: 10px;
  }
  li {
    font-size: 1.05em;
    list-style: none;
    padding-right: 20px;
  }
  
  button {
    font-size: .65em;
    color: #fff;
    background-color: black;
    
  }
  
  button.delete {
    float: right;
    background-color: #E1332D;
  }
  button.edit {
    float: right;
    background-color: #E1332D;
  }

  div.edit-popup{
    display: none;
  }